.bear-container{
  width: 300px;
  height: 300px;
  background: transparent;
  margin: auto;
  position: relative;
}

.face{
  position: absolute;
  z-index: 10;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: brown;
  top: 25px;
  left: 25px;
}

.eye{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 115px;
  left: 90px;
}

.eye.right{
  transform: translateX(70px);
}

.snout{
  position: absolute;
  left: 100px;
  top: 135px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: salmon;
}

.nose{
  position: absolute;
  top: 10px;
  left: 25px;
  width: 30px;
  height: 20px;
  background-color: black;
  border-radius: 80%;
}

.noseline{
  position: absolute;
  width: 4px;
  height: 30px;
  background: black;
  top: 20px;
  left: 40px;
}

.mouth{
  position: absolute;
  top: 50px;
  left: 35px;
  width: 15px;
  height: 5px;
  background-color: black;
}

.ear{
  position: absolute;
  top: 35px;
  left: 20px;
  width: 80px;
  height: 80px;
  background-color: brown;
  border-radius: 50%;
}

.ear.right{
  transform: translateX(180px);
}

.innerear{
  position: absolute;
  z-index: 9;
  top: 5px;
  left: 5px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: pink;

}
