.content{
  width: 300px;
  height: 300px;
  margin: 100px 100px;
}

@media(max-width:600px){
  .triangle,
  .middle,
  .divider{
    display: none;
  }

  .bead{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(to bottom, peru, sienna , peru );
  }
}

@media(min-width:601px){
  .bead{
    position: relative;
    width: 50px;
    height: 30px;
    background-color: transparent;
  }

  .middle{
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    background: linear-gradient(to left, peru , sienna, peru );
  }

  .divider{
    position: absolute;
    height: 1px;
    width: 46px;
    top: 15px;
    left: 2px;
    background-color: maroon;
  }

  .triangle{
    position: absolute;
    left: 1px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:10px solid peru;
  }

  .triangle.right{
    border-right: none;
    border-left: 10px solid peru;
    left: 40px;
  }
}
